<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h3 class="font-weight-light py-3 border-bottom mb-5 shadow-sm w-100 fixed-top bg-white">
        Welcome to {{ title }}!
    </h3>
    <div class="container mt-100">
        <pagination-controls (pageChange)=" p = this.$event"></pagination-controls>
        <table class="table" id="myTable">
            <thead>
            <tr>
                <th (click)="sortTable(0)">#</th>
                <th (click)="sortTable(1)">Name</th>
                <th (click)="sortTable(2)">Gender</th>
                <th (click)="sortTable(3)">Company</th>
                <th (click)="sortTable(4)">Email</th>
                <th>Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sitem of myData | paginate: { itemsPerPage: 15, currentPage: p }" (click)="highlightRow(sitem)"
                [ngClass] = "{'highlight' : sitem.index == selectedIndex}">
                <td>{{ sitem.index < 10 ? '0'+sitem.index : sitem.index }}</td>
                <td>{{ sitem.name }}</td>
                <td>{{ sitem.gender }}</td>
                <td>{{ sitem.company }}</td>
                <td>{{ sitem.email }}</td>
                <td>
                    <button class="btn btn-dark" (click)="modalShow(sitem)">View</button>
                </td>
            </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)=" p = this.$event"></pagination-controls>
    </div>

    <div class="modal fade bg-transparent-70" id="modal" [style.display]="showModal ? 'block' : 'none'">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ name }}</h5>
                    <button type="button" class="close" (click)="modalHide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <div class="row m-0 py-3 border-bottom">
                        <div class="col-sm-3">ID</div>
                        <div class="col-sm-9">{{ index }}</div>
                    </div>
                    <div class="row m-0 py-3 border-bottom">
                        <div class="col-sm-3">Name</div>
                        <div class="col-sm-9">{{ name }}</div>
                    </div>
                    <div class="row m-0 py-3 border-bottom">
                        <div class="col-sm-3">Gender</div>
                        <div class="col-sm-9 text-capitalize">{{ gender }}</div>
                    </div>
                    <div class="row m-0 py-3 border-bottom">
                        <div class="col-sm-3">Company</div>
                        <div class="col-sm-9">{{ company }}</div>
                    </div>
                    <div class="row m-0 py-3">
                        <div class="col-sm-3">Email</div>
                        <div class="col-sm-9">{{ email }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modalHide()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top py-4 bg-light mt-100">
        Project : Initial Tasks <br>
        Framework : Angular 8, Bootstrap 4 <br>
        Own JSON Api
    </footer>
</div>
<router-outlet></router-outlet>
